.panel{
    box-shadow: 0px 4px 4px 0px rgba(51, 116, 176, 0.50);
    margin-top: 20px;
    border-top: 4px solid #3374B0;
}

.radio-toolbar{
    border: 1px solid #B6C2E2;
    border-radius: 20px;
    padding: 5px;
    background-color: #EEF1F8;
}

.radio-toolbar input[type="radio"] {
    display: none;
}
.radio-toolbar label {
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
}
.radio-red:checked + label {
    background-color: #DF1517;
}
.radio-yellow:checked + label {
    background-color: #FFC737;
}
.radio-green:checked + label {
    background-color: #51AC34;
}

.header{
    border-bottom: 2px solid #3374B0;
}

.pendientes p{
    margin-bottom: 0;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

.text-red{
    color: #DF1517;
}

.text-green{
    color: #51AC34;
}

.text-blue{
    color: #3374B0;
}

.text-red,
.text-green,
.text-blue{
    margin-bottom: 0;
}


.resumen,
.actividad,
.datosExtra,
.grupo1,
.grupo2,
.grupo3,
.grupo4,
.grupo5 {
    border: 1px solid rgba(223, 223, 223, 0.56);
}

.resumen td,
.actividad td,
.datosExtra td,
.grupo1 td,
.grupo2 td,
.grupo3 td,
.grupo4 td,
.grupo5 td {
    padding-bottom: 0.1rem !important;
}

.resumenTitulo,
.actividadTitulo,
.datosExtraTitulo,
.grupo1Titulo,
.grupo2Titulo,
.grupo3Titulo,
.grupo4Titulo,
.grupo5Titulo {
    color: #3374B0;
    background-color: #EDF6FB   ;
}

#tablaActividad td:nth-child(2){
    text-align: center;
}

.menu{
    border-top: 2px solid #3374B0;
}

.menu-link {
    color: #636363;
    text-decoration: none;
    transition: color 0.3s;
}

.menu-link.active {
    color: #1791C9;
    text-decoration: underline;
    text-decoration-color: #1791C9;
}

.body{
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

.footer{
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.messages{
    margin-bottom: 20px;
}

.celdaTexto{
    font-family: Lato;
}

::-webkit-scrollbar {
    width: 4px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 40px;
}


::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}


::-webkit-scrollbar-button {
    display: none;
}

.icons{
    width: fit-content;
}

header{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.subheader{
    background: var(--azul, #1791C9);
    padding-left: 10px;
    height: 26px;

}

.subheader h4{
    color: var(--blanco, #FFF);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-body{
    background-color: #F2F2F2 !important;
    border: none !important;
    width: 205px;
}

.asideSearch{
    width: 15%;
    background-color: #1791C9;
    width: 203px;
    height: 24px;
    flex-shrink: 0;
}

.card-body li{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    list-style: none;
    cursor: pointer;
}

.nav-tabs .nav-link{
    border: none !important;
    margin-bottom: 0 !important;
}

.nav-tabs{
    border: none !important;
}

.nav-tabs .nav-link.active{
    color: var(--azul, #1791C9) !important;
    font-family: Lato !important;
    font-size: 10px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    text-decoration: underline;
}

.nav-tabs .nav-link{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.imgIzq{
    margin-top: -20px;
    z-index: -1;
}